.charts {
  grid-area: 1/9/13/13;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.pie {
  height: 62%;
  width: 100%;
}
.bar {
  height: fit-content;
  width: 29vw;
  background-color: white;
  border-radius: 15px;
}
