.charts {
  grid-area: 1/9/13/13;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.charts > #name {
  padding-bottom: 0.1vh;
}

.pie {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63%;
  width: 29vw;
}
.bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 29vh;
  width: 29vw;
  border-radius: 15px;
}
