.resetButton {
  grid-area: 11/1/13/3;
  display: flex;
  flex: start;
  align-items: center;
  width: 50%;
  background: none !important;
  box-shadow: none !important;
}
.resetButton > button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5vh;
  border-radius: 20px;
  background-color: rgb(119, 0, 255);
  border: none;
  color: white;
}
